@charset "UTF-8";
body{
    background-color: rgb(234, 243, 234);
    font-family: Arial, Helvetica, sans-serif;
}
h1{
    color: green;

}

h1#principal{
    text-align: center;
    background-color: green;
    color: aliceblue;
}

h2{
    color: rgb(70, 129, 70);

}
.basico{
    color: green;

}
h2.intermediario{
    color: goldenrod;

}
h2.avancado{
    color: brown;
}
.destaque{
    background-color: #b4b45691;
}